/* Navigation Bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    text-align: center;
}
#navbar ul li a:hover{
    font-size:medium;
}
/* Educational Background */
#Education table, th, td{
    margin-left: 5px;
    padding: 2px;
}
/* Certification Phone Optimization */
.certifies{
    flex-direction: column;
}
.certifies .box img{
   height: 90px;
}
/* optimizing contacts */
#socials{
    flex-wrap: wrap;
}
#contactMe img{
    height: 64px;
    width: 64px;
}