/* Navigation Bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#navbar ul li a:hover{
    font-size:medium;
}
/* Educational Background */
#Education table, th, td{
    margin-left: 5px;
    padding: 2px;
}